header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: rgba(0, 0, 0, 0.5); 
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.pop {
    background: rgb(108, 4, 117);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
    height: 350px;
    color: white;
    /* text-align: center; */
    /* width: 550px; */
}

.pop:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  /* transform: translateY(-10px); */
}


.popup-content {
    background: #ca63df; 
    color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    /* text-align: center; */
    position: relative;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: white;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.close-btn:hover {
    background: #ddd;
}

.img-Annual-Bites{
    width: 700px;
    height: 400px;
    align-items: center;
}
.snack-img{
    width: 350px;
    height: 250px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.snack-img:hover{
    transform: scale(1.1);
}



.card-height{
    height: 300px;
    background-color: #6430a0;
    color: white;
}

.donate{
    background: #FFD700;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    height: 250px;
    width: 250px;
    border: 2px solid #7c69e7;
    color: #291692;
    
    

}

.human-img {
    width: 750px;
    height: 750px;
    align-items: center;
}

@media (max-width: 768px) {
    .human-img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .human-img {
        width: 100%;
        height: auto;
    }
}

.global-bg {
    background-color: #d1dce7;
}

.human-card{
background-color: #082e75;
color: white;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .scale-in-top {
	-webkit-animation: scale-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  
  .hover-card{
    color: white;
  }

  .hover-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}

  